  <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark  fixed-top">
        <div class="container">
            <a class="navbar-brand" href="home.html">AWWWARDS</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
        </div>
    </nav>

<style>
/*---navbar---*/

.navbar {
    background: transparent;
}
.navbar-shrink{
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-brand {
    font-size: 2em;
    font-weight: bolder;
}



.navbar a:not(.navbar-brand) {
    font-weight: bolder;
    font-size: 1.4em;
    color: #ffffff !important;
}
.navbar a:not(.navbar-brand):hover{
	color:red !important;
}

</style>